[submodule "lib/libft"]
	path = lib/libft
	url = https://gitlab.com/tacattack/libft.git
[submodule "lib/libft_m"]
	path = lib/libft_m
	url = https://gitlab.com/tacattack/libft_m.git
[submodule "lib/libftmath"]
	path = lib/libftmath
	url = https://gitlab.com/tacattack/libftmath.git
